body {
  background-color: peru;
  text-align: center;
  background-image: url(../src/media/marauder-back.png);
  font-family: 'Cormorant Garamond', serif;
  color: saddlebrown;
}

.heading {
  font-family: 'Cinzel', serif;
  font-size: 2.5em;
  margin-top: 100px;
  margin-bottom: 40px;
  text-shadow: 0 0 1px black;
}

.student-name,
.edit-name,
.form-select {
  background-color: beige;
  border: 1px solid #181818;
}

.student-name:focus,
.edit-name:focus,
.form-select:focus {
  background-color: beige;
  border: 1px solid #181818;
  box-shadow: none;
}

.btn-dark,
.btn-dark:hover,
.btn-dark:focus {
  color: blanchedalmond;
  border: none;
  box-shadow: none;
}

.All-btn,
.submit-btn {
  background-color: grey;
  color: beige;
}

.All-btn:hover,
.submit-btn:hover {
  background-color: dimgrey;
  color: beige;
}

.Gryffindor-btn {
  background-color: #740001;
  color: #D3A625;
}

.Gryffindor-btn:hover,
.Gryffindor-btn:active,
.Gryffindor-btn:focus {
  background-color: #5c0002;
  color: #D3A625;
}

.Slytherin-btn {
  background-color: #1A472A;
  color: #898989;
}

.Slytherin-btn:hover,
.Slytherin-btn:active,
.Slytherin-btn:focus {
  background-color: #143720;
  color: #898989;
}

.Ravenclaw-btn {
  background-color: #0E1A40;
  color: #946B2D;
}

.Ravenclaw-btn:hover,
.Ravenclaw-btn:active,
.Ravenclaw-btn:focus {
  background-color: #15255c;
  color: #946B2D;
}

.Hufflepuff-btn {
  background-color: #FFD800;
  color: #000000;
}

.Hufflepuff-btn:hover,
.Hufflepuff-btn:active,
.Hufflepuff-btn:focus {
  background-color: #d0a22e;
  color: #000000;
}
